{% extends 'base.html.twig' %}

{% block title %}Ando Home Boutique{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item fas fa-envelope "> Email: <span>ando@home.ro</span></li>
                    <li class="list-group-item fas fa-phone">+04 0154953872</li>
                    <li class="list-group-item ">
                        Ne gasiti si pe
                        <b>
                            <a href="#">Facebook</a>
                        </b>
                        sau
                        <b>
                            <a href="#">WhatsApp</a>
                        </b>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item ">
                        <b>
                            Datele companiei:
                        </b>
                    </li>
                    <li class="list-group-item">AndoHomeBoutique SRL</li>
                    <li class="list-group-item">CIF: 123456789</li>
                    <li class="list-group-item">IBAN: RO23112689978784561653657</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light mt-3 fixed-bottom ">
        <div class="row">
            <div class="container mt-3">
                <div class="row ">
                    <div class="col-4 text-center">
                        <h5>
                            Livrare gratuita
                        </h5>
                        <p class="fontSize">Oferim livrare gratuita in toata Romania, iar pentru siguranta produselor dumneavoastra livram cu serviciul propriu.</p>
                    </div>
                    <div class="col-4 bg-light text-center">
                        <h5>
                            Plata la livrare sau in rate
                        </h5>
                        <p>
                            Plata se poate realiza cash/card bancar la livrare sau in rate.
                        </p>
                    </div>
                    <div class="col-4 bg-light text-center ">
                        <h5>
                            Retur in 30 de zile
                        </h5>
                        <p>
                            Returul este garantat in 30 de zile daca nu sunteti multumit de produse.
                            Produsele trebuie returnate in conditiile in care acestea au fost livrate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}